#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Label_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Input_1 INPUT {
  font-family: Arial;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Image_117 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d93f609-b8d6-46b1-a2eb-dc1c023ffcf3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}