#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-menu_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-search_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-apps {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}