#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-base_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 38px;
  background-color: #0288D1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-base_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-base_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-base_1 span#rtr-s-base_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Text_2 {
  position: absolute;
  top: 37px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-menu_4 > svg {
  width: 26px;
  height: 26px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-menu_4 {
  position: absolute;
  top: 36px;
  left: 10px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-search_2 > svg {
  width: 26px;
  height: 26px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-search_2 {
  position: absolute;
  top: 34px;
  left: 284px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-apps > svg {
  width: 26px;
  height: 26px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-apps {
  position: absolute;
  top: 34px;
  left: 322px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-status-bar_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_35 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Dynamic_Panel_15 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Panel_23 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Panel_23 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Panel_23 .verticalalign {
  vertical-align: top;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_24 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_70 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_70 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_70 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_70 span#rtr-s-Label_70_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Horizontal-softkeys {
  position: absolute;
  top: 596px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_25 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_29 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_77 {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 204px;
  height: 48px;
  background-color: #0288D1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_77 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_77 span {
  color: #AFEAF2;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_77 span#rtr-s-Label_77_0 {
  color: #AFEAF2;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_78 {
  position: absolute;
  top: 75px;
  left: 202px;
  width: 158px;
  height: 48px;
  background-color: #0288D1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_78 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_78 span {
  color: #AFEAF2;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Label_78 span#rtr-s-Label_78_0 {
  color: #AFEAF2;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Line_14 {
  position: absolute;
  top: 119px;
  left: 174px;
  width: 186px;
  height: 4px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Group_1 {
  position: absolute;
  top: 122px;
  left: 0px;
  width: 313px;
  height: 65px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 239px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 22px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_14 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_14 span#rtr-s-Rectangle_14_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_14 span#rtr-s-Rectangle_14_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_1 {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_17 {
  position: absolute;
  top: 186px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 286px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 23px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_17 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_17 span#rtr-s-Rectangle_17_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_17 span#rtr-s-Rectangle_17_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Notification_7 {
  position: absolute;
  top: 250px;
  left: 0px;
  width: 360px;
  height: 65px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 286px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_22 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_22 span#rtr-s-Rectangle_22_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_22 span#rtr-s-Rectangle_22_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_16 {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 55px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_105 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_105 {
  position: absolute;
  top: 21px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_3 {
  position: absolute;
  top: 196px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_13 {
  position: absolute;
  top: 314px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 241px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 22px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_13 span#rtr-s-Rectangle_13_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_13 span#rtr-s-Rectangle_13_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_5 {
  position: absolute;
  top: 324px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_104 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_104 {
  position: absolute;
  top: 207px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Group_6 {
  position: absolute;
  top: 378px;
  left: 0px;
  width: 360px;
  height: 65px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 286px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 22px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_16 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_16 span#rtr-s-Rectangle_16_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_16 span#rtr-s-Rectangle_16_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_106 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_106 {
  position: absolute;
  top: 21px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Group_5 {
  position: absolute;
  top: 442px;
  left: 0px;
  width: 317px;
  height: 65px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 243px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 22px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_18 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_18 span#rtr-s-Rectangle_18_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_18 span#rtr-s-Rectangle_18_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_6 {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Group_4 {
  position: absolute;
  top: 506px;
  left: 0px;
  width: 360px;
  height: 65px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 286px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 22px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_20 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_20 span#rtr-s-Rectangle_20_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_4 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_107 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_107 {
  position: absolute;
  top: 21px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Group_3 {
  position: absolute;
  top: 570px;
  left: 0px;
  width: 360px;
  height: 65px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 286px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 22px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_21 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_21 span#rtr-s-Rectangle_21_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_21 span#rtr-s-Rectangle_21_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_21 span#rtr-s-Rectangle_21_3 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_7 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_108 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_108 {
  position: absolute;
  top: 21px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Group_2 {
  position: absolute;
  top: 634px;
  left: 0px;
  width: 360px;
  height: 65px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 70px;
  width: 286px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 7px 0px #999999;
  text-shadow: none;
  line-height: 22px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_23 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_23 span#rtr-s-Rectangle_23_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Rectangle_23 span#rtr-s-Rectangle_23_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Picture_8 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_109 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_109 {
  position: absolute;
  top: 21px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_103 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_103 {
  position: absolute;
  top: 149px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_110 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_110 {
  position: absolute;
  top: 463px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_111 > svg {
  width: 24px;
  height: 24px;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 #s-Image_111 {
  position: absolute;
  top: 335px;
  left: 323px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-50fb98e1-b1df-4cd8-ae1c-274015a2aba4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}