#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6945ff83-ce8f-4757-85ed-309d07f6a3ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}