#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-base_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Panel_22 > .valign {
  vertical-align: top;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Label_69 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-search_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-apps {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-menu_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Label_77 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Label_78 {
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Line_14 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Line_14 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}