#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-search_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-apps {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-menu_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Label_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Label_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6a5ce6aa-0572-4b9a-b3dc-2fd8ced84b78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}