#s-77669536-018e-4b55-8023-4555a730eecd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77669536-018e-4b55-8023-4555a730eecd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-77669536-018e-4b55-8023-4555a730eecd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}