#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Label_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Image_117 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8942f6ed-eb80-4f9b-a522-fb3010129c65 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}