#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-hangout {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-mail_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rich_text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8d242a67-94eb-4edf-85bd-e019b2b6ae81 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}