#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b4b4e80b-09cf-40f4-bb70-7ce11d44dcd0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}